<!-- app/views/home/index.html.erb -->

<br><br><br><br><br><br> <br><br>

<div class="form-inline d-flex justify-content-center align-items-center h-100" style="height: 100%;">
    <%= form_tag artists_path, method: "get", html: { class: "form-group" } do %>

      <div class="form-group mb-2">
        <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-group row rounded m-2") %>
        <%= submit_tag "Search", class: 'btn-secondary btn-sm' %>
      </div>

    <% end %>
</div>
