/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
//
// <% @videoId = @videos.where(q: "music video for #{@artist.name} #{track.name}", order: 'relevance').first.id %>
// <h4>Video(from yt api)</h4>
// <iframe width="560" height="315" src="//www.youtube.com/embed/<%=@videoId%>" frameborder="0" allowfullscreen></iframe>
// font-family: 'Open Sans', sans-serif; 400 & 600
// font-family: 'Cormorant', serif; 400 & 700

@import "bootstrap";

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin:0;
  padding:0;
  background:url(https://www.planwallpaper.com/static/images/Downlaod-Michael-Jackson-Wallpaper-HD.jpg);
  background-size:cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant', serif;
  font-weight: 700;
}
.search {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:300px;
  height:80px;
  background:#fff;
  box-shadow:0 5px 20px rgba(0,0,0,.5);
  border-radius:4px;
  transition:width .5s;
  overflow:hidden;
}

.search input {
  position:absolute;
  top:10px;
  left:10px;
  width:calc(100% - 90px);
  height:60px;
  border:none;
  outline:none;
  font-size:36px;
  padding:0 10px;
  color:#666;
  
}
.intro, .player {
  background-color: rgba(255, 255, 255, 0.5);
}

.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
  }
.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
  }
// <div class="videos"><% @videoId = @videos.where(q: "music video for #{@artist.name} #{track.name}", order: 'relevance').first.id %>
// <h4>Video(from yt api)</h4>
// <iframe width="560" height="315" src="//www.youtube.com/embed/<%=@videoId%>" frameborder="0" allowfullscreen></iframe>
// <div>